################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/obj/*
*/bin/*
*/testdb1.sqlproj.user
*.sln
